:root {
  --background: #f0ffff;
  --header: #a8b2b2;
  --subheader: #646a6a;
  --text: #353839;
  --accent1: #8ca6db;
  --accent2: #b993d6;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 125%;
  width: 100%;
}

h2, h3, header {
  font-weight: 700;
}

h2, h3 {
  font-size: 17px;
}

h2:not(:first-child), h3 {
  margin-top: 15px;
}

h4 {
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 10px;
}

header {
  color: var(--header);
  font-size: 22px;
  margin-bottom: 15px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

nav {
  padding: 25px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav a {
  color: #f0ffff;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table td {
  padding: 25px;
}

table td .icon {
  color: var(--accent1);
  font-size: 50px;
  -webkit-transition: color ease-in-out 300ms;
  -o-transition: color ease-in-out 300ms;
  transition: color ease-in-out 300ms;
}

table td .icon:hover {
  color: var(--accent2);
  -webkit-transition: color ease-in-out 300ms;
  -o-transition: color ease-in-out 300ms;
  transition: color ease-in-out 300ms;
}

table td .label {
  color: var(--text);
  font-size: 16px;
  margin-top: 10px;
}

#about {
  background-image:
  url("./images/shattered.png"),
  -webkit-gradient(linear, left top, left bottom, from(var(--accent2)), to(var(--accent1)));
  background-image:
  url("./images/shattered.png"),
  -o-linear-gradient(var(--accent2), var(--accent1));
  background-image:
  url("./images/shattered.png"),
  linear-gradient(var(--accent2), var(--accent1));
  color: #f0ffff;
  font-weight: 400;
  padding: 25px;
  text-align: center;
}

#experience, #education, #projects, #skills, .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

#experience, #education, #projects {
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  overflow: hidden;
}

#projects .fas {
  margin-left: 3px;
}

#skills, .center {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 25px;
}

#skills {
  padding: 0px 25px;
}

.clearfix {
  clear: both;
}

.fa-ul {
  margin-left: 1.5em;
  margin-right: 1em;
}

.fas {
  color: var(--accent1);
  font-weight: 700 !important;
  margin-right: 5px;
  -webkit-transition: color ease-in-out 300ms;
  -o-transition: color ease-in-out 300ms;
  transition: color ease-in-out 300ms;
}

.fas:hover {
  color: var(--accent2);
  -webkit-transition: color ease-in-out 300ms;
  -o-transition: color ease-in-out 300ms;
  transition: color ease-in-out 300ms;
}

.info {
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
}

.left {
  float: left;
}

.csub {
  background-image: url("./images/csub.jpg");
}

.grad {
  background-image: url("./images/graduation-caps.jpg");
}

.group {
  background-image: url("./images/group.jpg");
}

.photo {
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  flex-basis: 100%;
}

.profile {
  border: 10px solid rgba(255,255,255,0.5);
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 200px;
  max-height: 200px;
}

.right {
  float: right;
}

.right li {
  padding-left: 25px;
}

.contact-links {
  margin-top: 15px;
}

.contact-links a {
  background-color: rgba(255,255,255,0.5);
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  border-radius: 100%;
  color: var(--text);
}

.contact-links a:not(:last-child) {
  margin-right: 25px;
}

.subheader {
  color: var(--subheader);
}

.subline {
  color: var(--subheader);
  font-size: 12px;
  margin: 2px 0;
}

.title {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  nav {
    display: none;
  }
  table {
    text-align: left;
  }
  table td, table tr {
    display: inline-block;
  }
  table td {
    padding: 5px 5px 5px 0px;
  }
  #about, #experience, #education, #projects, #skills {
    height: auto;
  }
  #experience, #education, #projects {
    padding: 25px 0;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  #skills {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .center {
    height: auto;
  }
  .label, .linebreak, .photo {
    display: none;
  }
  .title {
    display: block;
    margin-bottom: 15px;
  }
}

